<!-- <div class="header-text">
    <img src="assets/images/presto-logo.png" alt="">
</div>
<form>

    <div class="form-box">

    </div>
    <span class="p-float-label p-input-icon-right mt-1">
        <i class="pi pi-user"></i>
        <input type="text" pInputText id="username" />
        <label htmlFor="username">Usuario</label>
    </span>

    <span class="p-float-label p-input-icon-right mt-2">
        <i class="pi pi-lock"></i>
        <input type="text" pInputText id="password" />
        <label htmlFor="password">Contraseña</label>
    </span>

    <button type="submit" pButton pRipple label="Iniciar Sesión" class="p-3 w-full mt-auto"></button>
    <a (click)="goToForgtoPassword()">Olvidate Contraseña</a>
</form> -->
<p-card header="Bienvenido" class="sign-in__card bcds-pcard">
  <ng-template pTemplate="header">
    <img alt="Logo" src="assets/images/presto-logo.png" alt="">
  </ng-template>

  <form>
    <span class="p-float-label p-input-icon-right mt-1">
      <i class="pi pi-user"></i>
      <label htmlFor="username">Usuario</label>
      <input type="text" pInputText id="username" />      
    </span>

    <span class="p-float-label p-input-icon-right mt-2">
      <i class="pi pi-lock"></i>
      <label htmlFor="password">Contraseña</label>
      <input type="text" pInputText id="password" />      
    </span>

    <!-- <button type="submit" pButton pRipple label="Iniciar Sesión" class="p-3 w-full mt-auto"></button>
    <a (click)="goToForgtoPassword()">Olvidate Contraseña</a> -->
  </form>

  <ng-template pTemplate="footer">
    <p-button label="Iniciar Sesión"></p-button>
    <a (click)="goToForgtoPassword()">Olvidate Contraseña</a>
  </ng-template>
</p-card>