<form [formGroup]="form" (ngSubmit)="signIn()">

  <p-card header="Bienvenido" class="sign-in__card bcds-pcard">
    <ng-template pTemplate="header">
      <img alt="Logo" src="assets/images/presto-logo.png" alt="">
    </ng-template>

    <span class="p-float-label p-input-icon-right mt-1">
      <i class="pi pi-user"></i>
      <input type="text" pInputText id="username" formControlName="username" autocomplete="off" />
      <label htmlFor="username">Usuario</label>
    </span>

    <span class="p-float-label p-input-icon-right mt-2">
      <i class="pi pi-lock"></i>
      <input type="text" pInputText class="key-pass" id="password" formControlName="password" autocomplete="off" />
      <label htmlFor="password">Contraseña</label>
    </span>

    <ng-template pTemplate="footer">
      <p-button type="submit" label="Iniciar Sesión"></p-button>
      <a (click)="goToForgotPassword()">¿Has olvidado tu Contraseña?</a>
    </ng-template>

  </p-card>
</form>