<div class="header-text">
    <h2 style="margin:0 !important">Cambio de contraseña</h2>
</div>
<form>
    <span class="p-float-label p-input-icon-right mt-2">
        <i class="pi pi-user"></i>
        <input type="text" pInputText id="username" />
        <label htmlFor="username">Usuario</label>
    </span>

    <span class="p-float-label p-input-icon-right mt-2">
        <i class="pi pi-lock"></i>
        <input type="text" pInputText id="password" />
        <label htmlFor="password">Actual Contraseña</label>
    </span>

    <span class="p-float-label p-input-icon-right mt-2">
        <i class="pi pi-lock"></i>
        <input type="text" pInputText id="password2" />
        <label htmlFor="password2">Nueva Contraseña</label>
    </span>

    <span class="p-float-label p-input-icon-right mt-2">
        <i class="pi pi-lock"></i>
        <input type="text" pInputText id="password3" />
        <label htmlFor="password3">Confirmar Contraseña</label>
    </span>

    <button pButton pRipple label="Cambiar contraseña" class="p-3 w-full mt-auto"></button>

</form>