.header-text {
    text-align: center;
}

input {
    width: 100%;
}

span {
    display: block;
}

button {
    width : 100%;
    margin: 20px 0px;
}

.mt-2 {
    margin-top: 1.8rem
}

:host {
    ::ng-deep p-card {
        .p-card {
            padding: 1rem 2rem 0 2rem !important;

            .p-card-body {
                padding: 0 0 1.25rem 0;
            }

            .p-card-footer {
                padding: 0;
            }
        }
    }
}

a {
    cursor              : pointer;
    color               : #8cb4ff;
    text-decoration-line: none
}