<p-card header="Recordar Contraseña" class="sign-in__card bcds-pcard">

    <form>
        <span class="p-float-label p-input-icon-right ">
            <i class="pi pi-user"></i>
            <input type="text" pInputText id="username" />
            <label htmlFor="username">Usuario</label>
        </span>

    </form>

    <ng-template pTemplate="footer">
        <p-button label="Recordar contraseña"></p-button>
        <a (click)="goToSignIn()">Cuenta de Ingreso</a>
    </ng-template>
</p-card>