.public {
  background-image: url(/assets/images/bg-login.png);
  background-color: #80d2ce;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}