<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="drawer-mobile" mode="over">

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="header-mobile">
        </div>

        <div class="header-web">
            <app-header [options]="menuOptions"></app-header>
        </div>

        <div class="cg-container content-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<router-outlet></router-outlet>